<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="dilivia.s2" level="DEBUG" />
    <logger name="dilivia.s2.region.S2CellUnion" level="INFO" />
    <logger name="dilivia.s2.S2EdgeClipping" level="INFO" />
    <logger name="dilivia.s2.S2EdgeCrossings" level="INFO" />
    <logger name="dilivia.s2.S2EdgeDistances" level="INFO" />
    <logger name="dilivia.s2.S2PaddedCell" level="INFO" />
    <logger name="dilivia.s2.region.S2Loop" level="INFO" />
    <logger name="dilivia.s2.region.S2LoopMeasures" level="INFO" />
    <logger name="dilivia.s2.region.S2Polyline" level="INFO" />
    <logger name="dilivia.s2.region.S2RegionCoverer" level="INFO" />
    <logger name="dilivia.s2.index.MutableS2ShapeIndex" level="INFO" />
    <logger name="dilivia.s2.index.S2PointIndex" level="TRACE" />

    <logger name="dilivia.s2.S2EdgeClippingTest" level="INFO" />
    <logger name="dilivia.s2.S2PaddedCellTest" level="INFO" />
    <logger name="dilivia.s2.region.S2CellUnionTest" level="INFO" />
    <logger name="dilivia.s2.region.S2LoopTest" level="INFO" />
    <logger name="dilivia.s2.region.S2RegionCovererTest" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
